doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/maps/css/maps.css')
		script(src='http://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization')
		script(src='https://cdn.socket.io/socket.io-1.1.0.js')
		script(src='/maps/js/maps.js')
	body
		div#map-canvas
		script(src='http://localhost/points.js')